<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <meta charset="UTF-8">
        <title>Team health check</title>
        <meta name="description"
            content="Team health check">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        {{> app}}
    </body>
</html>
